@using HealthyFood.Data.Models
@using HealthyFood.Models.ViewModels.Home
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model HomePageViewModel
@{
    this.ViewData["Title"] = "Home Page";
    var active = false;
}

<!-- Start slides -->
<div class="conteiner-fluid ">
    <div class="container homeinfo">
        <h1 class="m-b-20"><strong>Welcome to <br> Healthy Food!</strong></h1>
        <p class="m-b-40">
            Feel free to exlore our online network for   <br>
            cooking and healthy life! <br>
        </p>
        @if (!this.SignInManager.IsSignedIn(this.User))
        {
            <p class="m-b-40" id="UnRegistered" style="font-size: 22px;">
                If you want you can join our community<br>
                and create free account
            </p>
            <a class="btn btn-light" asp-area="Identity" asp-page="/Account/Register">Sign up</a>
        }
    </div>
    <div id="slides" class="conteiner-fluid cover-slides" style="z-index:-1;">
        <ul class="slides-container">
            @for (int i = 1; i <= 9; i++)
            {
                <li class="text-left">
                    <img src="~/images/slider-0@{@i}.jpg" alt="Slider image_@i">
                </li>
            }
        </ul>
    </div>
</div>
<!-- End slides -->
<!-- Start About -->
<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Healthy Food</h1>
                    <h4 class="sub">Website created for all you home chefs out there!</h4>
                    <p class="mt-4">Healthy Food is an online community webside created for browsing recipes and articles about healty lifestyle!</p>
                    <p>Our goal is to make the Internet a user-friendly place for people who want to find fresh ideas for homemade food!</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="~/images/about-img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<!-- End About -->
<!-- Start QT -->
<div class="qt-box qt-background">
    <div class="container">
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto text-center">
                <p class="lead ">
                    " No rules. <br> Don't be afraid to do whatever you want.<br> Cooking doesn't have to have rules."
                </p>
                <span class="lead"> Masaharu Morimoto</span>
            </div>
        </div>
    </div>
</div>
<!-- End QT -->
<!-- Start Menu -->
<div class="menu-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Recipes</h2>
                    <p>Here are some examples of what you can do in fing in the Recipes page.</p>
                </div>
            </div>
        </div>
        <div class="row inner-menu-box centered">
            <div class="col-9 ml-auto mr-auto recepie">
                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <div class="row">
                            @foreach (var topRecipe in Model.TopRecipes)
                            {
                                <div class="col-lg-4 col-md-6 special-grid drinks">
                                    <div class="gallery-single fix">
                                        <img src="@topRecipe.ImagePath" class="img-fluid home-recipe-img" alt="Image_@topRecipe.Id">
                                        <div class="why-text">
                                            <a asp-controller="Recipes" asp-action="Details" asp-route-id="@topRecipe.Id">
                                                <h4>@topRecipe.Name</h4>
                                            </a>
                                            <span>
                                                @if (topRecipe.Rate == 0)
                                                {
                                                    <strong>No Rate yet!</strong>
                                                }
                                                else
                                                {
                                                    for (int i = 0; i < topRecipe.Rate; i++)
                                                    {
                                                        <i class="fas fa-star star"></i>
                                                    }
                                                }
                                            </span>
                                            <h5>Difficulty: @topRecipe.Difficulty</h5>
                                            <h5><i class="fa fa-list"></i> @topRecipe.Category.Name</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="conteiner-fluid">
                        <a class="btn btn-dark w-100" asp-area="" asp-controller="Recipes" asp-action="Index">To Recipes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Menu -->
<!-- Start Article -->
<div class="article-box">
    <div class="row h-100" style="overflow:visible">
        <div class="col-lg-12">
            <div class="heading-title text-center">
                <h2 style="color:white">Articles</h2>
                <p>If you are not hungry, feel free to browse our article section</p>
            </div>
        </div>
        <div class="row d-flex h-100  ml-auto mr-auto article-button-container">
            @foreach (var article in Model.RecentArticles)
            {
                <div class="col-12 col-md-4 ">
                    <div class="blog-box-inner">
                        <div class="blog-img-box">
                            <img class="img-fluid home-pic" src="@article.ImagePath" alt="image_@article.Id">
                        </div>
                        <div class="blog-detail">
                            <h4>@article.Title</h4>
                            <ul>
                                <li>
                                    <span>Posted by <i class="fa fa-user"></i> @article.UserUsername</span>
                                </li>
                                <li>|</li>
                                <li>
                                    <span><i class="fa fa-calendar"></i> @article.CreatedOn.ToShortDateString()</span>
                                </li>
                            </ul>
                            <p>@Html.Raw(article.SanitizedShortDescription)</p>
                            <a class="btn btn-lg btn-circle btn-outline-new-white"
                                asp-area=""
                                asp-controller="Articles"
                                asp-action="Details"
                                asp-route-id="@article.Id">Read More
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="article-button">
            <div class="conteiner-fluid">
                <a class="btn btn-dark w-100" asp-area="" asp-controller="Articles" asp-action="Index">To Articles</a>
            </div>
        </div>

    </div>
</div>
<!-- End Article -->
<!-- Start Gallery -->
<div class="gallery-box gallery-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Gallery</h2>
                </div>
            </div>
        </div>
        <div class="container  mt-3">
            <div id="GalleryCarusel" class="carousel slide" data-ride="carousel">
                <!-- The slideshow-->
                <div class="carousel-inner">
                    @foreach (var subgallery in Model.SubGallery)
                    {
                        @if (active == false)
                        {
                            <div class="carousel-item active gallery-box">
                                <div class="row h-100">
                                    @for (int i = 0; i < subgallery.Count(); i++)
                                    {
                                        <a class="col-12 col-md-4 mx-h " style="height:100%; z-index:3" href="@subgallery.ElementAt(i).ImagePath" data-lightbox="@subgallery.ElementAt(i).Id">
                                            <img class="img  w-100 h-100 br-12" src="@subgallery.ElementAt(i).ImagePath" alt="Image-@subgallery.ElementAt(i).Id" />
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="carousel-item gallery-box">
                                <div class="row h-100">
                                    @for (int i = 0; i < subgallery.Count(); i++)
                                    {
                                        <a class="col-12 col-md-4 mx-h " style="height:100%; z-index:3" href="@subgallery.ElementAt(i).ImagePath" data-lightbox="@subgallery.ElementAt(i).Id">
                                            <img class="img w-100 h-100 br-12" src="@subgallery.ElementAt(i).ImagePath" alt="Image-@subgallery.ElementAt(i).Id" />
                                        </a>
                                    }
                                </div>
                            </div>
                        }
                        @if (active == false) {
                            active = true;
                        }
                    }
                    <!-- Start Left and right controls-->
                    <a class="carousel-control-prev" style="z-index:4;background-color:grey;font-size: 30px;" href="#GalleryCarusel" data-slide="prev">
                        <span class="ml-auto" style="margin-right:30px;"> <i class="fas fa-chevron-left d-block"></i></span>
                    </a>
                    <a class="carousel-control-next" style="z-index:4 ; background-color:grey;font-size: 30px;" href="#GalleryCarusel" data-slide="next">
                        <span class="mr-auto" style="margin-left:30px;"><i class="fas fa-chevron-right"></i></span>
                    </a>
                    <!-- End Left and right controls-->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Gallery -->

<div id="bmr-calculator" class="wrapper">
    <div class="calculator">
        <div class="heading-title text-center">
            <h2>Calorie Calculator</h2>
        </div>
        <div class="choose-gender">
            <div class="segmented-control">
                <input id="calc-gender-male" type="radio" name="gender" value="male" checked=""/>
                <label for="calc-gender-male">Male</label>
            </div>
            <div class="segmented-control">
                <input id="calc-gender-female" type="radio" name="gender" value="female"/>
                <label for="calc-gender-female">Female</label>
            </div>
        </div>
        <label for="calc-age" id="calc-age_value">Age: 25</label>
        <input id="calc-age" type="range" value="25" min="13" max="100">
        <label for="calc-height" id="calc-height_value">Height: 180cm</label>
        <input id="calc-height" type="range" value="180" min="80" max="250">
        <label for="calc-weight" id="calc-weight_value">Weight: 80kg</label>
        <input id="calc-weight" type="range" value="80" min="40" max="200">
        <label for="calc-walking" id="calc-walking_value">Walking: 2 hours per week</label>
        <input id="calc-walking" type="range" value="2" min="0" max="50">
        <label for="calc-cardio" id="calc-cardio_value">Cardio: 1 hour per week</label>
        <input id="calc-cardio" type="range" value="1" min="0" max="50">
    </div>
    <div class="results">
        <div id="calc-target-gain">
            To Gain Weight:<br>
            <span>2700 calories</span>
        </div>
        <div id="calc-target-maintain">
            To Maintain:<br>
            <span>2400 calories</span>
        </div>
        <div id="calc-target-lose">
            To Lose Weight:<br>
            <span>1900 calories</span>
        </div>
    </div>
</div>

<partial name="_ContactsInfoPartial"/>

<!-- Start Back to Top button -->
<a href="#" id="back-to-top" title="Back to top" style="display: none;">
    <i class="fas fa-angle-double-up" aria-hidden="true"></i>
</a>
<!-- End Back to Top button -->

<partial name="_ChatPartial"/>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#GalleryCarusel').carousel({ interval: 3000 });
        });
    </script>

    <script src="~/js/show-chat.js" asp-append-version="true"></script>

    <script>
        $(function () {
            $(".chat-submit").on("click", function (e) {
                e.preventDefault();

                $(".chat-awaiting").removeClass("d-none");

                const button = $(this);
                const form = $(".chat-form");
                const messageInput = $("#messageInput");
                const messageInputValue = messageInput.val();

                button.attr("disabled", "");
                messageInput.attr("readonly", "");

                $.ajax({
                    url: "@Url.Action("GetResponse", "ChatApi")",
                    method: "GET",
                    data: form.serialize()
                }).done(function (html) {
                    const query = $("<div/>")
                        .addClass("query")
                        .html(`<strong>@this.User.Identity.Name:</strong><br/>${messageInputValue}<br/>`);

                    const response = $("<div/>")
                        .addClass("response")
                        .html(`<strong>ChatGPT:</strong><br/>${html}`);

                    $("#messagesList").append(query);
                    $("#messagesList").append(response);
                    messageInput.val("");
                }).fail(function (data) {
                    console.log(data);
                    $("#error-message").text(data);
                }).always(function () {
                    $(".chat-awaiting").addClass("d-none");
                    button.removeAttr("disabled");
                    messageInput.removeAttr("readonly");
                });
            });
        });
    </script>

    <script src="~/js/calculator.js" asp-append-version="true"></script>
}
